<div class="card hidden max-sm:block">
  <p-toolbar
    [style]="{
      'border-radius': '3rem',
      padding: '.8rem',
      backdropFilter: 'blur(10px)',
      background: 'rgba(254,254,254,0.02)'
    }"
    class="fixed bottom-2 left-1/2 -translate-x-1/2 w-11/12 z-50"
  >
    <div class="flex items-center justify-between w-full gap-0">
      <p-button
        icon="pi pi-video"
        text
        [rounded]="true"
        routerLink="videos/view-all"
        routerLinkActive=""
      />

      <p-button
        icon="pi pi-refresh"
        text
        [rounded]="true"
        routerLink="followup/todays"
        routerLinkActive=""
        iconPos="top"
      />

      <p-button
        icon="pi pi-home"
        text
        [rounded]="true"
        routerLink="overview"
        routerLinkActive=""
      />

      <p-button
        icon="pi pi-database"
        text
        [rounded]="true"
        routerLink="products/view-all"
        routerLinkActive=""
      />

      <p-button
        icon="pi pi-user-plus"
        text
        [rounded]="true"
        routerLink="customers/view-all"
        routerLinkActive="active"
      />
    </div>
  </p-toolbar>
</div>
