<div class="mt-5">
  <p-card header="Change Password">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div
        class="p-fluid mt-2 flex gap-3 align-center justify-start max-sm:flex-col max-sm:gap-2 max-sm:items-start"
      >
        <!-- New Password -->
        <div class="flex flex-col w-full">
          <p-floatlabel variant="on" class="mb-3 w-full">
            <p-password
              id="newPassword"
              type="password"
              formControlName="newPassword"
              pInputText
              styleClass="w-full"
              inputStyleClass="w-full"
              [feedback]="false"
              [toggleMask]="true"
            />
            <label for="newPassword">New Password</label>
          </p-floatlabel>

          @if (
            changePasswordForm.get("newPassword")?.hasError("required") &&
            changePasswordForm.get("newPassword")?.touched
          ) {
            <small class="gap-1 mt-[-8px] text-red-500">
              Password is required.
            </small>
          }
        </div>

        <!-- Confirm Password -->
        <div class="flex flex-col w-full">
          <p-floatlabel variant="on" class="mb-3 w-full">
            <p-password
              id="confirmNewPassword"
              type="password"
              formControlName="confirmNewPassword"
              pInputText
              styleClass="w-full"
              inputStyleClass="w-full"
              [feedback]="false"
              [toggleMask]="true"
            />
            <label for="confirmNewPassword">Confirm Password</label>
          </p-floatlabel>

          @if (
            changePasswordForm.errors?.["passwordMismatchErr"] &&
            changePasswordForm.get("confirmNewPassword")?.touched
          ) {
            <small class="gap-1 mt-[-8px] text-red-500">
              Passwords do not match.
            </small>
          }
        </div>

        <!-- Submit Button -->
        <p-button
          type="submit"
          label="Change Password"
          class="w-full"
          styleClass="w-auto"
          [disabled]="changePasswordForm.invalid"
        ></p-button>
      </div>
    </form>
  </p-card>
</div>
