<p-card class="p-5 mt-5" header="Add New Customer">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="mt-2">
        <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-4">

            <p-floatlabel variant="on" class="w-full">
                <input pInputText id="name" class="w-full" formControlName="name" autocomplete="off" />
                <label for="name">Name</label>
            </p-floatlabel>

            <p-floatlabel variant="on" class="w-full">
                <p-inputnumber inputId="mobile" [useGrouping]="false" formControlName="mobile" class="w-full" />
                <label for="mobile">Mobile</label>
            </p-floatlabel>

            <p-floatlabel variant="on" class="w-full">
                <input pInputText id="productName" formControlName="productName" class="w-full" autocomplete="off" />
                <label for="productName">Product Name/Tag</label>
            </p-floatlabel>

            <p-floatlabel variant="on" class="w-full">
                <p-inputnumber inputId="price" formControlName="price" class="w-full" locale="en-IN" />
                <label for="price">Price</label>
            </p-floatlabel>

            <p-floatlabel class="w-full" variant="on">
                <p-select inputId="status" [options]="status" optionLabel="name" formControlName="status"
                    styleClass="w-full" />
                <label for="status">Status</label>
            </p-floatlabel>

            <p-floatlabel class="w-full" variant="on">
                <p-select inputId="seriousness" [options]="seriousness" optionLabel="name" formControlName="seriousness"
                    styleClass="w-full" />
                <label for="seriousness">Seriousness</label>
            </p-floatlabel>

            <p-floatlabel variant="on" class="w-full">
                <p-datepicker inputId="nextFollowUpDate" formControlName="nextFollowUpDate" showIcon iconDisplay="input"
                    class="w-full" styleClass="w-full" />
                <label for="nextFollowUpDate">Next Follow-Up On</label>
            </p-floatlabel>

            <p-floatlabel class="w-full" variant="on">
                <textarea rows="1" cols="30" pTextarea class="w-full" formControlName="conversation"></textarea>
                <label for="conversation">Conversation</label>
            </p-floatlabel>

            <p-floatlabel class="w-auto" variant="on">
                <p-fileUpload name="file" mode="basic" [auto]="true" accept="image/*" maxFileSize="10000000"
                    [customUpload]="true" (onSelect)="onFileSelected($event)" chooseLabel="Choose image"
                    chooseIcon="pi pi-upload" class="w-full" inputSyleClass="w-full" styleClass="w-full" />
            </p-floatlabel>

            <p-button [label]="isSaving()? 'Saving...' : 'Save'" styleClass="w-full" type="submit" pripple></p-button>
        </div>
    </form>
</p-card>
