<div class="flex justify-between items-center mb-4">
  <h2 class="text-xl font-semibold">Find Product</h2>
  <div class="flex gap-2">
    @if (loginedUser === "admin" || loginedUser === "superadmin") {
      <p-button
        icon="pi pi-upload"
        (onClick)="visible = true"
        severity="secondary"
        label="Upload"
        size="small"
      >
      </p-button>
    }

    <p-button
      icon="pi pi-hourglass"
      routerLink="/products/compare"
      severity="primary"
      label="Compare"
      size="small"
    >
    </p-button>
  </div>
</div>

<section class="flex flex-col items-center justify-start">
  <div class="w-full md:w-[600px] flex justify-center items-center">
    <div class="my-2 w-full">
      <form [formGroup]="searchFrom" (ngSubmit)="search()">
        <div class="my-2">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-search"></i>
            </p-inputGroupAddon>

            <input
              type="text"
              pInputText
              placeholder="Enter tag no."
              formControlName="jewel_code"
              class="w-full"
              (change)="search()"
            />

            <!-- <p-inputGroupAddon>
              <p-button
                icon="pi pi-camera"
                [text]="true"
                severity="primary"
                (onClick)="isScannerVisible = true"
              >
              </p-button>
            </p-inputGroupAddon> -->
          </p-inputGroup>

          @if (
            searchFrom.controls["jewel_code"].touched &&
            searchFrom.controls["jewel_code"].hasError("required")
          ) {
            <p class="text-center mt-1">
              <small class="text-red-600"
                >Tag number is required or try scanner</small
              >
            </p>
          }
        </div>
      </form>
    </div>
  </div>

  <div class="w-full md:w-5/7 py-4">
    @for (item of searchResult(); track item.jewel_code) {
      <p-card styleClass="mb-4">
        <div
          class="flex justify-start w-full gap-4 relative flex-col md:flex-row"
        >
          <a
            class="] w-[60%] md:w-[20%] mx-auto mb-2"
            routerLink="/view-details/{{ item.jewel_code }}"
          >
            @if (isImageFound()) {
              <img
                [src]="productImageUrl()"
                alt="{{ item.jewel_code }}"
                class="rounded-2xl"
              />
            } @else {
              <img src="imagenotfound.jpg" alt="{{ item.jewel_code }}" />
            }
          </a>
          <div class="rounded-xl w-full flex-1">
            <div class="">
              <div class="flex justify-between items-center">
                <h3 class="card-title pb-3">
                  <b> {{ item.product_category | titlecase }} -</b>
                  {{ item.sub_category | titlecase }}
                </h3>
                <b class="ml-auto">{{ item.jewel_code }}</b>
              </div>

              <div class="rounded-lg border-gray-300">
                <div class="flex flex-col md:text-sm space-y-2">
                  <!-- Row 1 -->
                  <div
                    class="flex items-center border-b border-gray-200 py-2 relative"
                  >
                    <div class="w-24 font-semibold">Net wt.</div>
                    <div class="flex-1">{{ item.net_wt }} Gms</div>
                    <div class="flex-1">{{ item.material }}</div>
                    <div class="flex-none relative">
                      {{ item.metal_amt || "NA" | number: "1.2-2" }}/-
                    </div>
                  </div>

                  <!-- Row 2 -->
                  <div class="flex items-center border-b border-gray-200 pb-1">
                    <div class="w-24 font-semibold">Gross wt.</div>
                    <div class="flex-1">{{ item.gross_wt }} Gms</div>
                  </div>

                  @if (item.diamonds && item.diamonds.length > 0) {
                    @for (dia of item.diamonds; track $index) {
                      <div
                        class="flex flex-col border-b border-gray-200 pb-1 space-y-1"
                      >
                        <div class="flex items-start">
                          <div class="w-24 font-semibold">Dia wt.</div>
                          <div class="flex-1">{{ dia.weight }} Cts</div>
                          <div class="flex-1">
                            {{ dia.diamond_colour || dia.quality_code }}
                          </div>
                          <div class="flex-none">
                            {{ dia.amount | number: "1.2-2" }}/-
                          </div>
                        </div>
                      </div>
                    }

                    <div
                      class="flex items-center border-b border-gray-200 dark:bg-gray-800 bg-blue-100 p-2 rounded-lg"
                    >
                      <div class="w-24">Dia. Total</div>
                      <div class="flex-1"></div>
                      <div class="flex-none">
                        {{
                          getTotalDiamondAmount(item.diamonds)
                            | number: "1.2-2"
                        }}/-
                      </div>
                    </div>
                  }

                  <!-- Row 4 (Stones, if any) -->
                  @if (item.stones && item.stones.length > 0) {
                    @for (stone of item.stones; track $index) {
                      <div
                        class="flex flex-col border-b border-gray-200 pb-1 space-y-1"
                      >
                        <div class="flex items-center">
                          <div class="w-24 font-semibold">CS wt.</div>
                          <div class="flex-1">
                            {{ stone.colour_stone_wt }} Cts
                          </div>

                          <div class="flex-none">
                            {{ stone.colour_stone_amt }}/-
                          </div>
                        </div>
                      </div>
                    }
                  }

                  <!-- Row 5 -->
                  <div
                    class="flex items-center border-b border-gray-200 pb-1 space-y-1"
                  >
                    <div class="w-24 font-semibold">Making</div>

                    <div class="flex-1 text-gray-600">
                      @if (item.making_charge && item.making_charge !== 0) {
                        {{ item.making_charge }}%
                      } @else if (item.making_amt && item.making_amt !== 0) {
                        Fixed
                      } @else {
                        -
                      }
                    </div>

                    <div class="flex-none font-medium">
                      @if (getMakingChargeAmount(item) > 0) {
                        {{ getMakingChargeAmount(item) | number: "1.2-2" }}/-
                      } @else {
                        -
                      }
                    </div>
                  </div>

                  <!-- Row 6 -->
                  <div
                    class="flex items-center border-b border-gray-200 pb-1 space-y-1"
                  >
                    <div class="w-24 font-semibold">GST</div>
                    <div class="flex-1">3%</div>
                    <div class="flex-none">
                      <span
                        >₹{{
                          getGrandTotal(item) -
                            (getMakingChargeAmount(item) +
                              item.metal_amt +
                              getTotalDiamondAmount(item.diamonds) +
                              getTotalStoneAmount(item.stones))
                            | number: "1.2-2"
                        }}</span
                      >
                    </div>
                  </div>

                  <!-- Row 7 -->

                  <div
                    class="flex items-center font-semibold dark:bg-gray-800 bg-gray-200 py-3 px-2 rounded-xl"
                  >
                    <div class="flex-1">
                      RKJ Price <small>(Inc. GST)</small>
                    </div>
                    <div class="flex-none">
                      {{ getGrandTotal(item) | number: "1.2-2" }}/-
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    }
  </div>
</section>

<!-- <p-dialog 
  [(visible)]="isScannerVisible" 
  header="Scan Product QR" 
  [modal]="true" 
  [draggable]="false" 
  [resizable]="false"
  styleClass="w-full md:w-[500px]"
>
  @if (isScannerVisible) {
    <div class="relative overflow-hidden rounded-xl bg-black aspect-square">
      <ngx-scanner-qrcode 
        #action="scanner" 
        [config]="config" 
        (event)="onScanSuccess($event)">
      </ngx-scanner-qrcode>
      
      <div class="absolute bottom-4 left-0 right-0 flex justify-center gap-4">
        <button pButton icon="pi pi-sync" class="p-button-rounded p-button-secondary" (click)="toggleCamera()"></button>
        <button pButton icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="isScannerVisible = false"></button>
      </div>
    </div>
  }
</p-dialog> -->

<p-dialog
  header="Import Products (CSV)"
  [modal]="true"
  [(visible)]="visible"
  styleClass="w-full md:w-[400px]"
>
  <form
    [formGroup]="csvForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col items-start justify-start gap-4"
  >
    <p-fileUpload
      mode="basic"
      [customUpload]="true"
      (onSelect)="onFileChange($event)"
      accept=".csv"
      chooseLabel="Pick CSV File"
      chooseIcon="pi pi-file-excel"
      styleClass="w-auto"
    ></p-fileUpload>

    <p-button
      type="submit"
      [label]="isUploading()"
      severity="primary"
      [disabled]="!selectedFile || isUploading() !== 'Upload'"
      styleClass="w-auto"
      size="small"
    ></p-button>
  </form>
</p-dialog>
