<div class="antialiased bg-zinc-50 dark:bg-zinc-950">
  <nav
    class="bg-white border-b border-zinc-200 px-1 md:px-4 py-2.5 dark:bg-zinc-950 dark:border-zinc-700 fixed left-0 right-0 top-0 z-50"
  >
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex justify-start items-center">
        <p-button
          [icon]="drawerNavigation ? 'pi pi-times' : 'pi pi-bars'"
          class="md:hidden"
          (click)="drawerNavigation = !drawerNavigation"
          severity="primary"
          [text]="true"
        ></p-button>

        <a routerLink="/" class="flex items-center justify-between mr-4">
          <img
            src="LOGO-BRAND.png"
            class="md:h-8 md:h-6 md:w-auto w-25 dark:brightness-[200]"
            alt="RKJ Logo"
            loading="lazy"
          />
        </a>
      </div>
      <div class="flex items-center lg:order-2">
        <div class="flex justify-between items-center gap-1 md:gap-4">
          <p-button
            [icon]="isDark() ? 'pi pi-moon' : 'pi pi-sun'"
            [text]="true"
            (onClick)="toggleDarkMode()"
            severity="primary"
            [rounded]="true"
          >
          </p-button>
          <div class="flex justify-start items-center gap-2">
            <p-avatar shape="circle" image="user.svg" />
            <div class="username">
              <p>{{ userName | titlecase }}</p>
            </div>
          </div>
          <p-button
            icon="pi pi-sign-out"
            text="true"
            pTooltip="Logout"
            tooltipPosition="top"
            (onClick)="logOut()"
            severity="primary"
            pTooltip="Sign Out"
            tooltipPosition="left"
            [rounded]="true"
          />
        </div>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->

  <aside
    class="fixed top-0 left-0 z-3 w-100 md:w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-zinc-200 md:translate-x-0 dark:bg-zinc-950 dark:border-zinc-700"
    aria-label="Sidenav"
    [ngClass]="{
      'translate-x-0': drawerNavigation,
      '-translate-x-full': !drawerNavigation,
    }"
  >
    <div class="py-5 px-3 h-full bg-white dark:bg-zinc-950 overflow-y-scroll">
      <ul class="space-y-2 pb-14 mb-6">
        @if (userRole === "karigar") {
          <li>
            <a
              (click)="drawerNavigation = false"
              routerLink="/karigar/karigar-dashboard"
              routerLinkActive="bg-emerald-400 !text-zinc-900"
              class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
            >
              <span class="flex-1 text-left">
                <i class="pi pi-th-large px-2"></i> Dashboard
              </span>
            </a>
          </li>
        } @else {
          <li>
            <a
              (click)="drawerNavigation = false"
              routerLink="/overview"
              routerLinkActive="bg-emerald-400 !text-zinc-900"
              class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
            >
              <span class="flex-1 text-left">
                <i class="pi pi-th-large px-2"></i> Overview
              </span>
            </a>
          </li>
          <li>
            <a
              (click)="drawerNavigation = false"
              routerLink="/customers/view-all"
              routerLinkActive="bg-emerald-400 !text-zinc-900"
              class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
            >
              <span class="flex-1 text-left">
                <i class="pi pi-users px-2"></i> Customers
              </span>
            </a>
          </li>

          <li>
            <a
              (click)="drawerNavigation = false; toggleMenu('followup')"
              routerLink="/followup/todays"
              routerLinkActive="bg-emerald-400 !text-zinc-900"
              class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
            >
              <span class="flex-1 text-left">
                <i class="pi pi-replay px-2"></i> Follow-up
              </span>
            </a>
          </li>

          <li>
            <a
              (click)="drawerNavigation = false; toggleMenu('products')"
              routerLink="/products/view-all"
              routerLinkActive="bg-emerald-400 !text-zinc-900"
              class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
            >
              <span class="flex-1 text-left">
                <i class="pi pi-database px-2"></i> Products
              </span>
            </a>
          </li>

          <li>
            <a
              (click)="drawerNavigation = false; toggleMenu('videos')"
              routerLink="/videos/view-all"
              routerLinkActive="bg-emerald-400 !text-zinc-900"
              class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
            >
              <span class="flex-1 text-left">
                <i class="pi pi-video px-2"></i> Videos
              </span>
            </a>
          </li>
          <ul
            class="pt-5 mt-5 space-y-2 border-t border-zinc-200 dark:border-zinc-700"
          >
            <li>
              <a
                (click)="drawerNavigation = false; toggleMenu('soldItems')"
                routerLink="image-search"
                routerLinkActive="bg-emerald-400 !text-zinc-900"
                class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
              >
                <span class="flex-1 text-left">
                  <i class="pi pi-image px-2"></i> Image Search
                </span>
              </a>
            </li>

            <li>
              <a
                (click)="drawerNavigation = false; toggleMenu('soldItems')"
                routerLink="sold-items/sold-items"
                routerLinkActive="bg-emerald-400 !text-zinc-900"
                class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
              >
                <span class="flex-1 text-left">
                  <i class="pi pi-money-bill px-2"></i> Sold List
                </span>
              </a>
            </li>

            @if (userRole !== "user") {
              <li>
                <a
                  (click)="drawerNavigation = false"
                  routerLink="footfall/show-footfall"
                  routerLinkActive="bg-emerald-400 !text-zinc-900"
                  class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
                >
                  <span class="flex-1 text-left">
                    <i class="pi pi-arrow-right-arrow-left px-2"></i> Footfall
                  </span>
                </a>
              </li>

              <li>
                <a
                  (click)="drawerNavigation = false"
                  routerLink="footfall/footfall-data"
                  routerLinkActive="bg-emerald-400 !text-zinc-900"
                  class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
                >
                  <span class="flex-1 text-left">
                    <i class="pi pi-arrow-right-arrow-left px-2"></i> Footfall
                    Data
                  </span>
                </a>
              </li>

              <li>
                <a
                  (click)="drawerNavigation = false"
                  routerLink="manage-targets"
                  routerLinkActive="bg-emerald-400 !text-zinc-900"
                  class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
                >
                  <span class="flex-1 text-left">
                    <i class="pi pi-wave-pulse px-2"></i> Manage Targets
                  </span>
                </a>
              </li>
            }

            <li>
              <a
                (click)="drawerNavigation = false"
                routerLink="orders/order-dashboard"
                routerLinkActive="bg-emerald-400 !text-zinc-900"
                class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
              >
                <span class="flex-1 text-left">
                  <i class="pi pi-shopping-cart px-2"></i> Orders
                </span>
              </a>
            </li>

            @if (userRole === "superadmin") {
              <li>
                <a
                  (click)="drawerNavigation = false; toggleMenu('users')"
                  routerLink="/all-users"
                  routerLinkActive="bg-emerald-400 !text-zinc-900"
                  class="flex items-center p-2 text-base dark:text-zinc-300 rounded-md dark:hover:text-zinc-900 hover:bg-emerald-400 hover:!text-zinc-900 dark:hover:bg-emerald-400 group w-full"
                >
                  <span class="flex-1 text-left">
                    <i class="pi pi-user px-2"></i> Users
                  </span>
                </a>
              </li>
            }
          </ul>
        }
      </ul>
    </div>
    <div
      class="absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-white dark:bg-zinc-950 z-20 border-t border-zinc-200 dark:border-zinc-700"
    >
      <div class="flex justify-between gap-4 items-center">
        <div class="flex justify-start gap-3">
          <p-avatar
            label="{{ userName.charAt(0) || 'G' | titlecase }}"
            shape="circle"
            size="large"
          />
          <div class="username">
            <h2 class="font-semibold">Welcome! 👋</h2>
            <p class="text-sm">
              {{ userName | titlecase }}-
              <small class="text-[10px]">{{ userRole | titlecase }}</small>
            </p>
          </div>
        </div>
        <div class="flex">
          <p-button
            icon="pi pi-sign-out"
            text="true"
            pTooltip="Logout"
            tooltipPosition="top"
            (onClick)="logOut()"
            severity="primary"
            [rounded]="true"
          />
        </div>
      </div>
    </div>
  </aside>

  <main
    class="p-4 md:ml-64 min-h-screen pt-20 max-sm:pb-20 bg-zinc-200 dark:bg-zinc-950"
  >
    <router-outlet></router-outlet>
  </main>
</div>
<app-mobile-footer />
