<div class="container">
  <h4>Sold Entery</h4>
  <div class="card flex justify-center">
    <p-stepper [value]="1" class="basis-[50rem]">
      <p-step-list>
        <p-step [value]="1">Customer</p-step>
        <p-step [value]="2">Product</p-step>
      </p-step-list>
      <p-step-panels>
        <form
          enctype="multipart/form-data"
          [formGroup]="soldEntryFrom"
          (ngSubmit)="onSubmit()"
        >
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="mb-4">
                <p-floatLabel variant="on">
                  <input
                    pInputText
                    formControlName="full_name"
                    id="full_name"
                    class="w-full"
                  />
                  <label for="full_name">Full Name</label>
                </p-floatLabel>
                @if(soldEntryFrom.controls['full_name'].errors?.['required'] &&
                soldEntryFrom.controls['full_name'].touched) {
                <small class="text-red-500">Full name is required</small>
                }
              </div>
              <div class="mb-4">
                <p-floatLabel variant="on">
                  <input
                    pInputText
                    formControlName="mobile"
                    id="mobile"
                    class="w-full"
                  />
                  <label for="mobile">Mobile</label>
                </p-floatLabel>
              </div>

              <div class="mb-4">
                <p-floatLabel variant="on">
                  <input
                    pInputText
                    formControlName="email"
                    id="email"
                    class="w-full"
                  />
                  <label for="email">Email</label>
                </p-floatLabel>
              </div>

              <div class="mb-4">
                <p-floatLabel variant="on">
                  <p-datepicker
                    formControlName="birthday"
                    inputId="birthday"
                    styleClass="w-full"
                  ></p-datepicker>
                  <label for="birthday">Birthday</label>
                </p-floatLabel>
              </div>

              <div class="mb-4">
                <p-floatLabel variant="on">
                  <p-datepicker
                    formControlName="anniversary"
                    inputId="anniversary"
                    styleClass="w-full"
                  ></p-datepicker>
                  <label for="birthday">Anniversary</label>
                </p-floatLabel>
              </div>

              <div class="mb-4">
                <p-floatLabel variant="on">
                  <textarea
                    pTextarea
                    formControlName="address"
                    id="address"
                    class="w-full"
                  ></textarea>
                  <label for="address">Address</label>
                </p-floatLabel>
              </div>

              <div class="flex pt-6 justify-end">
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template
              pTemplate="content"
              let-activateCallback="activateCallback"
            >
              <div formArrayName="products">
                @for(product of products.controls; track product; let i =
                $index) {
                <div [formGroupName]="i">
                  <div class="mb-4">
                    <p-floatLabel variant="on">
                      <input
                        pInputText
                        formControlName="tag"
                        id="tag{{ i }}"
                        class="w-full"
                      />
                      <label for="tag{{ i }}">Tag Number</label>
                    </p-floatLabel>
                  </div>

                  <div class="flex justify-between items-center gap-3">
                    <div class="mb-4">
                      <p-floatLabel variant="on">
                        <input
                          pInputText
                          formControlName="purity"
                          id="purity{{ i }}"
                          class="w-full"
                        />
                        <label for="purity{{ i }}">Purity</label>
                      </p-floatLabel>
                    </div>

                    <div class="mb-4">
                      <p-floatLabel variant="on">
                        <input
                          pInputText
                          formControlName="gold_wt"
                          id="gold_wt{{ i }}"
                          class="w-full"
                        />
                        <label for="gold_wt{{ i }}">Gold Wt.</label>
                      </p-floatLabel>
                    </div>
                  </div>
                  <div class="flex justify-between items-center gap-3">
                    <div class="mb-4">
                      <p-floatLabel variant="on">
                        <input
                          pInputText
                          formControlName="dia_wt"
                          id="dia_wt{{ i }}"
                          class="w-full"
                        />
                        <label for="dia_wt{{ i }}">Dia Wt.</label>
                      </p-floatLabel>
                    </div>

                    <div class="mb-4">
                      <p-floatLabel variant="on">
                        <input
                          pInputText
                          formControlName="stn_wt"
                          id="stn_wt{{ i }}"
                          class="w-full"
                        />
                        <label for="stn_wt{{ i }}">Stn Wt.</label>
                      </p-floatLabel>
                    </div>
                  </div>

                  <div class="mb-4">
                    <p-floatLabel variant="on">
                      <p-inputnumber
                        formControlName="amount"
                        inputId="amount{{ i }}"
                        mode="decimal"
                        [minFractionDigits]="2"
                        class="w-full"
                      ></p-inputnumber>
                      <label for="amount{{ i }}">Amount</label>
                    </p-floatLabel>
                  </div>

                  <div class="flex justify-between items-center mb-4 gap-3">
                    <p-fileupload
                      mode="basic"
                      name="file"
                      [customUpload]="true"
                      accept="image/*"
                      (onSelect)="onBasicUploadAuto($event, i)"
                      chooseIcon="pi pi-upload"
                      chooseLabel="Browse image"
                      [auto]="true"
                    ></p-fileupload>
                    <div class="flex gap-2">
                      <button
                    pButton
                    type="button"
                    [text]="true"
                    icon="pi pi-times"
                    severity="danger"
                    (click)="removeProduct(i)"
                    *ngIf="products.length > 1"
                    ></button>
                    <p-button
                      pTooltip="Add more"
                      type="button"
                      [text]="true"
                      (click)="addProduct()"
                      icon="pi pi-plus"
                    ></p-button>
                    </div>
                  </div>
                </div>
                }
              </div>

              <div class="flex pt-6 justify-between">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (click)="activateCallback(1)"
                  outlined="true"
                ></p-button>
                <button pButton type="submit" label="Submit"></button>
              </div>
            </ng-template>
          </p-step-panel>
        </form>
      </p-step-panels>
    </p-stepper>
  </div>
</div>
