<section class="flex flex-col lg:flex-row gap-4 mt-4 mb-20">
  <div class="container w-full lg:w-5/7">
    @for (item of searchResult(); track item.id) {
      <p-card styleClass="mb-4 bg-white shadow-sm ">
        <div
          class="flex justify-start w-full gap-4 relative flex-col md:flex-row"
        >
          <a
            class="w-[60%] md:w-[20%] mx-auto mb-2 rounded-2xl overflow-hidden"
            routerLink="/view-details/{{ item.jewel_code }}"
          >
            @if (productImageUrl()) {
              <p-image
                [src]="productImageUrl()"
                [alt]="item.jewel_code"
                class="rounded-2xl w-full object-cover"
                [preview]="true"
              />
            } @else {
              <img
                src="imagenotfound.jpg"
                [alt]="item.jewel_code"
                class="w-full object-cover"
              />
            }
          </a>

          <div class="rounded-xl w-full flex-1">
            <div class="flex justify-between items-center mb-3">
              <h3 class="card-title text-base md:text-lg">
                <b class="text-emerald-500"
                  >{{ item.product_category | titlecase }} -</b
                >
                {{ item.sub_category | titlecase }}
              </h3>
              <b class="ml-auto text-sm md:text-base">{{ item.jewel_code }}</b>
            </div>

            <div class="rounded-lg overflow-x-auto">
              <table
                class="w-full text-left text-xs md:text-sm border-collapse min-w-[500px]"
              >
                <thead>
                  <tr
                    class="bg-emerald-500 border-b border-[#00c285] text-white font-semibold"
                  >
                    <th class="p-2 w-[25%]">Description</th>
                    <th class="p-2 text-center w-[12%]">Wt.</th>
                    <th class="p-2 text-center w-[12%]">Pcs.</th>
                    <th class="p-2 text-center w-[12%]">Size/Shape</th>
                    <th class="p-2 text-center w-[12%]">Rate</th>
                    <th class="p-2 text-center w-[12%]">Qlty</th>
                    <th class="p-2 text-right w-[15%]">Price</th>
                  </tr>
                </thead>

                <tbody
                  class="divide-y divide-gray-100 text-gray-700 dark:text-gray-200"
                >
                  <!-- Net wt -->
                  <tr class="hover:bg-gray-50/50">
                    <td
                      class="p-2 font-semibold text-gray-900 dark:text-gray-300"
                    >
                      Net wt.
                    </td>
                    <td class="p-2 text-center">{{ item.net_wt }} Gms</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center font-medium">
                      {{ item.material ? item.material + "K" : "-" }}
                    </td>
                    <td
                      class="p-2 text-right font-semibold text-gray-900 dark:text-gray-300"
                    >
                      {{ item.metal_amt || 0 | number: "1.2-2" }}/-
                    </td>
                  </tr>
                  <!-- Making charge -->
                  <tr class="hover:bg-gray-50/50">
                    <td class="p-2 font-semibold">Making</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center">
                      @if (item.making_charge && item.making_charge !== 0) {
                        {{ item.making_charge }}%
                      } @else if (item.making_amt && item.making_amt !== 0) {
                        Fixed
                      } @else {
                        -
                      }
                    </td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-right">
                      {{ getMakingChargeAmount(item) || 0 | number: "1.2-2" }}/-
                    </td>
                  </tr>

                  <!-- diamonds calculation -->
                  @if (item.diamonds && item.diamonds.length > 0) {
                    @for (dia of item.diamonds; track $index) {
                      <tr class="hover:bg-gray-50/50">
                        <td class="p-2 pl-4">Dia {{ $index + 1 }}</td>
                        <td class="p-2 text-center">
                          {{ dia.dia_amt || "-" }} Cts
                        </td>
                        <td class="p-2 text-center">
                          {{ dia.diamond_pcs || "-" }}
                        </td>
                        <td class="p-2 text-center">
                          {{ dia.dia_size || "-" }}
                        </td>
                        <td class="p-2 text-center">
                          {{ dia.dia_rate || "-" }}
                        </td>
                        <td class="p-2 text-center font-medium">
                          @if (dia.diamond_colour || dia.diamond_clarity) {
                            {{ dia.diamond_colour || "" }}
                            {{ dia.diamond_clarity || "" }}
                          } @else {
                            {{ dia.quality_code || "-" }}
                          }
                        </td>
                        <td
                          class="p-2 text-right text-gray-600 dark:text-gray-300"
                        >
                          {{ dia.dia_amt | number: "1.2-2" }}/-
                        </td>
                      </tr>
                    }

                    <!-- total diamonds -->
                    <tr
                      class="bg-gray-100 dark:bg-gray-800 font-semibold text-gray-800 dark:text-gray-50"
                    >
                      <td class="p-2 pl-4">Total Dia. (B)</td>
                      <td class="p-2 text-center">
                        {{
                          getTotaldiamondWeight(item.diamonds) | number: "1.2-2"
                        }}
                        Cts
                      </td>
                      <td class="p-2 text-center">-</td>
                      <td class="p-2 text-center">-</td>
                      <td class="p-2 text-center">-</td>
                      <td class="p-2 text-center">-</td>
                      <td
                        class="p-2 text-right text-gray-900 dark:text-gray-50"
                      >
                        {{
                          getTotalDiamondAmount(item.diamonds)
                            | number: "1.2-2"
                        }}/-
                      </td>
                    </tr>
                  }

                  <!-- colour stones -->
                  @if (item.stones && item.stones.length > 0) {
                    @for (stone of item.stones; track $index) {
                      <tr class="hover:bg-gray-50/50">
                        <td class="p-2 pl-4">C.S. {{ $index + 1 }}</td>
                        <td class="p-2 text-center">
                          {{ stone.stone_wt }} Cts
                        </td>
                        <td class="p-2 text-center">
                          {{ stone.stone_pcs || "-" }}
                        </td>
                        <td class="p-2 text-center">
                          {{ stone.stone_shape || "-" }}
                        </td>
                        <td class="p-2 text-center">
                          {{ stone.stone_rate || "-" }}
                        </td>
                        <td class="p-2 text-center">-</td>
                        <td
                          class="p-2 text-right text-gray-600 dark:text-gray-300"
                        >
                          {{ stone.stone_amt | number: "1.2-2" }}/-
                        </td>
                      </tr>
                    }
                    <!-- total diamonds -->
                    <tr
                      class="bg-gray-100 dark:bg-gray-800 font-semibold text-gray-800 dark:text-gray-50"
                    >
                      <td class="p-2 pl-4">Total Stone (B)</td>
                      <td class="p-2 text-center">
                        {{ getTotalStoneWeight(item.stones) | number: "1.2-2" }}
                        Cts
                      </td>
                      <td class="p-2 text-center">-</td>
                      <td class="p-2 text-center">-</td>
                      <td class="p-2 text-center">-</td>
                      <td class="p-2 text-center">-</td>
                      <td
                        class="p-2 text-right text-gray-900 dark:text-gray-50"
                      >
                        {{
                          getTotalStoneAmount(item.stones) | number: "1.2-2"
                        }}/-
                      </td>
                    </tr>
                  }

                  <!-- sub total -->
                  <tr
                    class="bg-gray-100 dark:bg-gray-800 font-semibold text-gray-800 dark:text-gray-50"
                  >
                    <td class="p-2">Subtotal (A+B+C)</td>
                    <td colspan="5" class="p-2"></td>
                    <td class="p-2 text-right">
                      {{
                        item.metal_amt +
                          getTotalDiamondAmount(item.diamonds) +
                          getTotalStoneAmount(item.stones) +
                          getMakingChargeAmount(item) | number: "1.2-2"
                      }}/-
                    </td>
                  </tr>

                  <!-- gst -->
                  <tr class="hover:bg-gray-50/50">
                    <td class="p-2 font-semibold">GST</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-center">3%</td>
                    <td class="p-2 text-center">-</td>
                    <td class="p-2 text-right">
                      ₹{{
                        getGrandTotal(item) -
                          (getMakingChargeAmount(item) +
                            item.metal_amt +
                            getTotalDiamondAmount(item.diamonds) +
                            getTotalStoneAmount(item.stones)) | number: "1.2-2"
                      }}
                    </td>
                  </tr>

                  <tr
                    class="bg-emerald-100 text-dark font-bold text-sm md:text-base rounded-b-xl"
                  >
                    <td class="p-3 rounded-bl-lg dark:text-gray-950">
                      RKJ Price
                      <span
                        class="text-xs font-normal text-emerald-100 dark:text-gray-600"
                        >(Inc. GST)</span
                      >
                    </td>
                    <td colspan="5" class="p-3"></td>
                    <td
                      class="p-3 text-right rounded-br-lg tracking-wider dark:text-gray-950"
                    >
                      {{ getGrandTotal(item) | number: "1.2-2" }}/-
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </p-card>
    }
  </div>
  <div class="container w-full lg:w-2/7">
    <p-card class="max-sm:w-full bg-base-100 shadow-sm">
      <div class="card-body">
        <b>Apply Discount</b>
        <div class="price-breakup">
          <div class="flex flex-col gap-4">
            <div class="flex justify-between gap-3 items-center mb-1">
              <div class="mt-1">
                Discount <small class="text-[10px]">(in %)</small>
              </div>
              <div colspan="2">
                {{ discountPercent().toFixed(2)
                }}<small class="text-[10px]">%</small>
              </div>
            </div>
            <p-floatlabel variant="in">
              <input
                pInputText
                id="input"
                class="input input-bordered rounded-lg w-full"
                [(ngModel)]="userInput"
                (change)="ApplyDiscount()"
              />
              <label for="on_label">Discount amt.</label>
            </p-floatlabel>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</section>

<p-card class="md:w-[70.5%] w-[93%]">
  <div class="flex justify-between">
    <div class="flex-1 justify-center items-start">
      <h5>{{ item.product_category | titlecase }}</h5>
      @if (priceAfterDiscount()) {
        <b class="dock-label">₹ {{ priceAfterDiscount().toFixed(2) }}/-</b>
      }
    </div>

    <div class="w-35 flex justify-between items-center">
      <p-button
        routerLink="/products/view-all"
        icon="pi pi-search"
        text="true"
        severity="contrast"
        pTooltip="Search"
        tooltipPosition="top"
      >
      </p-button>

      <p-button
        (onClick)="visible = true"
        icon="pi pi-equals"
        text="true"
        severity="contrast"
        pTooltip="Selection"
        tooltipPosition="top"
      >
        <div class="indicator">
          @if (showIndicator() === true) {
            <span class="indicator-item status status-success"></span>
          }
        </div>
      </p-button>

      <p-button
        (onClick)="finalize(); favIcon.set(!favIcon())"
        [icon]="favIcon() ? 'pi pi-heart-fill' : 'pi pi-heart'"
        text="true"
        pTooltip="Save"
        tooltipPosition="top"
        severity="contrast"
      ></p-button>
    </div>
  </div>
</p-card>

<div class="savedList relative">
  <!-- Open the modal using ID.showModal() method -->
  <p-drawer
    class="modal modal-bottom"
    [(visible)]="visible"
    position="bottom"
    header="Favorite List"
    [style]="{ height: '100%', width: '25%' }"
    styleClass="!w-full md:!w-80 lg:!w-[30rem]"
  >
    @if (myChoiceList().length > 0) {
      <!-- show the product card of favorite list -->
      <div class="mb-12">
        @for (item of myChoiceList(); track item._id) {
          <p-card class="w-full mx-4 my-4 p-0">
            <div
              class="flex justify-start flex-col gap-4 items-center relative"
            >
              <div class="w-25">
                <img
                  [src]="item.product_image_url || placeholder"
                  alt="{{ item.jewel_code }}"
                  class="rounded-xl"
                />
              </div>
              <!-- Content -->
              <div class="w-full">
                <!-- Title and jewel code -->
                <div class="flex justify-between gap-2 items-start pb-2">
                  <h3
                    class="text-lg font-semibold text-sm leading-snug truncate"
                  >
                    {{ item.product_category | titlecase }}
                    {{ item.sub_category | titlecase }}
                  </h3>
                  <b class="text-sm ml-auto">{{ item.jewel_code }}</b>
                </div>

                <div class="">
                  <div class="flex flex-col text-sm space-y-2">
                    <!-- Row 5 -->
                    <div class="flex items-center">
                      <div class="flex-1 text-xs">Price</div>
                      <div class="flex-1 text-right">{{ item.mrp }}/-</div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="flex flex-col text-sm space-y-2">
                    <!-- Row 5 -->
                    <div class="flex items-center">
                      <div class="flex-1 text-xs">Discount</div>
                      <div class="flex-1 text-right">
                        {{ item.discount_amount }}/-
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Details block -->
                <div class="bg-emerald-100 mt-2 dark:bg-gray-800 rounded-lg">
                  <div class="p-2">
                    <div class="rounded-lg">
                      <div class="flex flex-col text-sm space-y-2">
                        <!-- Row 5 -->
                        <div class="flex items-center font-semibold">
                          <div class="flex-1">Payble amt.</div>
                          <div class="flex-1 text-right">
                            {{ item.final_price | number: "1.2-2" }}/-
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p-button
                icon="pi pi-times"
                [text]="true"
                severity="danger"
                [rounded]="true"
                size="small"
                class="absolute top-0 right-0"
                (click)="removeItemfromfavList(item._id)"
              >
              </p-button>
            </div>
          </p-card>
        } @empty {
          <small class="py-4">Oops! No saved list!</small>
        }
        @if (myChoiceList().length > 1) {
          <p-button
            routerLink="/products/compare"
            icon="pi pi-arrow-right-arrow-left"
            severity="contrast"
            label="Compare"
            styleClass="w-full"
            class="fixed bottom-3 left-0 w-full px-4"
          ></p-button>
        } @else {
          <div
            class="flex justify-center items-center flex-col gap-3 h-full pt-3"
          >
            <p-button
              routerLink="/products/view-all"
              icon="pi pi-search"
              serviority="contrast"
              severity="contrast"
              pTooltip="Search"
              tooltipPosition="top"
              [rounded]="true"
              label="Search Products"
            >
            </p-button>

            <span class="text-gray-500 text-sm">
              <i class="pi pi-info-circle text-yellow-500"></i>
              Add one more to see comparison</span
            >
          </div>
        }
      </div>
    } @else {
      <div class="flex justify-center items-center h-full">
        <p class="text-gray-500 text-sm">Oops! No saved list!</p>
      </div>
    }
  </p-drawer>
</div>
