<p-toast position="bottom-center"></p-toast>

<div class="mx-auto pb-6">
  <div class="flex items-center gap-4 mb-6">
    <div
      class="w-12 h-12 rounded-4xl bg-gray-900 dark:bg-gray-800 text-white flex items-center justify-center shadow-lg"
    >
      <i class="pi pi-plus text-xl"></i>
    </div>
    <div>
      <h2 class="text-2xl font-bold dark:text-gray-100 text-gray-900 m-0">
        Set Store-Wide Target
      </h2>
      <p class="text-sm text-gray-400 m-0">
        Set monthly goals for the entire store
      </p>
    </div>
  </div>

  <form
    [formGroup]="targetForm"
    (ngSubmit)="saveTarget()"
    class="flex flex-col gap-6"
  >
    <!-- SECTION 1: Period -->
    <p-card>
      <h3
        class="text-gray-800 dark:text-gray-300 font-bold mb-6 flex items-center gap-2"
      >
        <span
          class="w-6 h-6 rounded-full bg-blue-50 text-gray-800 text-xs flex items-center justify-center"
          >1</span
        >
        Target Period
      </h3>

      <div class="grid grid-cols-1 gap-8 mt-2">
        <!-- Target Month/Year -->
        <div class="fieldset flex flex-col gap-1">
          <p-floatlabel variant="in">
            <p-datePicker
              id="targetDate"
              formControlName="targetDate"
              view="month"
              dateFormat="mm/yy"
              styleClass="w-full"
              showClear
            >
            </p-datePicker>
            <label for="targetDate">Target Month/Year</label>
          </p-floatlabel>
          @if (
            targetForm.get("targetDate")?.invalid &&
            targetForm.get("targetDate")?.touched
          ) {
            <small class="text-red-500 ml-1">Required</small>
          }
        </div>
      </div>
    </p-card>

    <!-- SECTION 2: Target Metrics -->
    <p-card formGroupName="targets">
      <h3
        Store-Wide
        class="text-gray-800 dark:text-gray-300 font-bold mb-6 flex items-center gap-2"
      >
        <span
          class="w-6 h-6 rounded-full bg-blue-50 text-gray-800 text-xs flex items-center justify-center"
          >2</span
        >
        Target Metrics
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-2">
        <!-- Sales Amount -->

        <!-- Gold Weight -->
        <div class="fieldset flex flex-col gap-1">
          <p-floatlabel variant="in">
            <p-inputNumber
              id="gold_weight"
              formControlName="gold_weight"
              suffix="Kg"
              [min]="0"
              [maxFractionDigits]="3"
              styleClass="w-full"
            >
            </p-inputNumber>
            <label for="gold_weight">Gold Weight (Kg)</label>
          </p-floatlabel>
          @if (
            targetForm.get("targets.gold_weight")?.invalid &&
            targetForm.get("targets.gold_weight")?.touched
          ) {
            <small class="text-red-500 ml-1">Gold weight is required</small>
          }
        </div>

        <!-- Diamond Weight -->
        <div class="fieldset flex flex-col gap-1">
          <p-floatlabel variant="in">
            <p-inputNumber
              id="diamond_weight"
              formControlName="diamond_weight"
              suffix=" ct"
              [min]="0"
              [maxFractionDigits]="3"
              styleClass="w-full"
            >
            </p-inputNumber>
            <label for="diamond_weight">Diamond Weight (Carats)</label>
          </p-floatlabel>
          @if (
            targetForm.get("targets.diamond_weight")?.invalid &&
            targetForm.get("targets.diamond_weight")?.touched
          ) {
            <small class="text-red-500 ml-1">Diamond weight is required</small>
          }
        </div>

        <!-- Stone Units -->
        <div class="fieldset flex flex-col gap-1">
          <p-floatlabel variant="in">
            <p-inputNumber
              id="stone_weight"
              formControlName="stone_weight"
              [min]="0"
              styleClass="w-full"
            >
            </p-inputNumber>
            <label for="stone_weight">Stone Units</label>
          </p-floatlabel>
          @if (
            targetForm.get("targets.stone_weight")?.invalid &&
            targetForm.get("targets.stone_weight")?.touched
          ) {
            <small class="text-red-500 ml-1">Stone units are required</small>
          }
        </div>
      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-3 pt-4">
        <p-button
          label="Cancel"
          severity="secondary"
          variant="text"
          (onClick)="targetForm.reset()"
        >
        </p-button>
        <p-button
          type="submit"
          label="Save Target"
          icon="pi pi-check"
          [loading]="isSaving"
          severity="contrast"
          styleClass="rounded-xl px-8"
        >
        </p-button>
      </div>
    </p-card>
  </form>
</div>

<app-target-view></app-target-view>

<!-- show all tagets and achievements -->
<p-card class="card p-4">
  <div class="flex justify-between gap-2">
    <h3 class="text-lg font-bold mb-4">Target vs Achievement Report</h3>
    <div class="info flex gap-3 items-center">
      <small class="text-gray-400 text-xs">{{ msg() }}</small>
      <p-button
        icon="pi pi-refresh"
        class="ml-auto"
        rounded
        severity="secondary"
        (click)="refresh()"
      ></p-button>
    </div>
  </div>

  <p-table
    [value]="tableData"
    responsiveLayout="scroll"
    styleClass="p-datatable-gridlines"
    stripedRows
  >
    <ng-template pTemplate="header">
      <tr class="bg-gray-100">
        <th>Month/Year</th>
        <th>Metric</th>
        <th>Target</th>
        <th>Achievement</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td rowspan="3" class="font-bold">{{ row.monthYear }}</td>
        <td>Gold Weight</td>
        <td>{{ row.targets.gold_weight | number }} <small>kg</small></td>
        <td>{{ row.achievements.gold_weight | number }} <small>kg</small></td>
      </tr>
      <tr>
        <td>Diamond Weight</td>
        <td>{{ row.targets.diamond_weight | number }} <small>ct</small></td>
        <td>
          {{ row.achievements.diamond_weight | number }} <small>ct</small>
        </td>
      </tr>
      <tr>
        <td>Stone Weight</td>
        <td>{{ row.targets.stone_weight | number }} <small>ct</small></td>
        <td>{{ row.achievements.stone_weight | number }} <small>ct</small></td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
