<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  @if (viewSoldItem) {
    <p-card header="Customer info">
      <div class="flex justify-between items-start gap-3 py-2">
        <div class="flex gap-2 items-center">
          <p-avatar
            label="{{ viewSoldItem.full_name.charAt(0) | uppercase }}"
            styleClass="mr-2"
            size="large"
            shape="circle"
          />
          <div class="div">
            <h5 class="font-semibold">
              {{ viewSoldItem.full_name | titlecase }}
            </h5>
            <p class="font-light">{{ viewSoldItem.mobile }}</p>
          </div>
        </div>
        <div class="ml-auto">
          <h3 class="font-semibold">
            {{ viewSoldItem.sales_staff | titlecase }}
          </h3>
        </div>
      </div>
      <div class="imageCarsuel"></div>
      @if (user === "admin" || user === "superadmin") {}
      <div class="flex justify-between items-center gap-3 mt-3">
        <h5 class="font-semibold">Sold on:</h5>
        <p>{{ viewSoldItem.createdAt | date }}</p>
      </div>

      <div
        class="flex gap-3 border border-gray-300 dark:border-gray-600 rounded-lg p-3 mt-3"
      >
        <div class="flex-1">
          <div class="flex justify-between gap-4">
            <span>Birthday:</span>
            <span>{{ viewSoldItem.birthday | date }}</span>
          </div>
          <div class="flex justify-between gap-4">
            <span>Anniversary:</span>
            <span>{{ viewSoldItem.anniversary | date }}</span>
          </div>
          <div class="flex justify-between gap-4">
            <span>Email:</span>
            <span>{{ viewSoldItem.email }}</span>
          </div>
        </div>
      </div>
    </p-card>
  }
  <p-card>
    <div class="imageCarsuel">
      @if (viewSoldItem.products.length == 1) {
        <div class="flex justify-center items-center gap-3">
          <p-image
            [src]="appUrl + '/' + viewSoldItem.products[0].soldupload"
            preview="true"
            [styleClass]="'w-auto h-30 object-cover rounded'"
          />
        </div>
      } @else {
        <p-carousel
          [value]="viewSoldItem.products"
          [circular]="true"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
          [autoplayInterval]="3000"
          [showIndicators]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-product pTemplate="item">
            <img
              [src]="appUrl + '/' + product.soldupload"
              previewGroup="productsGallery"
              class="w-full h-70 object-contain rounded-lg"
            />
            <p class="text-center opacity-75">
              {{ product.tag | uppercase }}
            </p>
          </ng-template>
        </p-carousel>
      }
    </div>
  </p-card>
</div>

@if (viewSoldItem) {
  <h4 class="font-semibold text-xl mt-4">Product List</h4>
  <div class="grid md:grid-cols-3 grid-cols-1 gap-4 mt-4 mb-4">
    @for (product of viewSoldItem.products; track $index) {
      <p-card class="relative">
        <p-badge value="{{ $index + 1 }}" class="absolute top-0 left-0" severity="secondary" />
        <div class="flex justify-between pt-2">
          <p class="font-medium">Tag:</p>
          <span>{{ product.tag | uppercase }}</span>
        </div>
        <div class="flex justify-between gap-4 mt-2">
          <span>Gold wt.:</span>
          <span>{{ product.gold_wt }} Gms</span>
        </div>
        <div class="flex justify-between gap-4">
          <span>Dia wt.:</span>
          <span>{{ product.dia_wt }} Cts</span>
        </div>
        <div class="flex justify-between gap-4">
          <span>Stn wt.:</span>
          <span>{{ product.stn_wt }} Cts</span>
        </div>
        <div class="flex justify-between gap-4">
          <span>Price:</span>
          <span>{{ product.amount | currency: "INR" : "symbol" }}</span>
        </div>
      </p-card>
    }
  </div>
}
