@if(soldItems && soldItems.length > 0) { @for(item of pagedItems; track
item._id) {
<div class="mt-3">
  @for(product of item.products; track product._id) {
  <p-card
    class="mt-3 text-xs"
    routerLink="/view-sold-items/{{ item._id }}"
    [style]="{ cursor: 'pointer' }"
  >
    <div class="flex gap-3">
      <div class="flex-none">
        <p-avatar-group>
          @for(image of item.products; track image) {
          <p-avatar
            [image]="backendUrl + '/' + image.soldupload"
            size="large"
            shape="circle"
          ></p-avatar>
          }
        </p-avatar-group>
      </div>
      <div class="flex-1">
        <strong>{{ item.full_name | titlecase }}</strong>
        <div class="flex justify-between gap-4 text-xs">
          <span>Tag:</span>
          <span>{{ product.tag | uppercase }}</span>
        </div>
        <div class="flex justify-between gap-4 text-xs">
          <span>Gold wt | Dia wt.:</span>
          <span>{{ product.gold_wt }} Gms | {{ product.dia_wt }} Cts</span>
        </div>
        <div class="flex justify-between gap-4 text-xs">
          <span>Price:</span>
          <span>{{ product.amount | currency : "INR" : "symbol" }}</span>
        </div>
      </div>
    </div>
  </p-card>
  }
</div>
}

<!-- Paginator -->
<div class="card flex justify-center mt-4">
  <p-paginator
    [first]="first"
    [rows]="rows"
    [totalRecords]="soldItems.length"
    (onPageChange)="onPageChange($event)"
    [showCurrentPageReport]="true"
    [showPageLinks]="true"
    [showJumpToPageDropdown]="false"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
  >
  </p-paginator>
</div>
} @else {
<div class="text-center mt-10 text-gray-500">No sold items available.</div>
}

<!-- Floating Add Button -->
<p-button
  icon="pi pi-plus"
  class="mt-3 fixed bottom-[6rem] right-3"
  routerLink="/sold-entry"
  severity="success"
  [rounded]="true"
>
</p-button>
