<div class="flex justify-between items-center">
  @if (userRole !== "user") {
    <div class="div w-1/2 max-sm:w-full">
      <form action="" [formGroup]="searchForm" (ngSubmit)="searchCustomer()">
        <div class="card flex justify-center gap-3">
          <p-multiselect
            [options]="salespersonOptions()"
            placeholder="Sales Person"
            class="w-full"
            formControlName="salesperson"
            [showClear]="true"
          />
          <p-multiselect
            [options]="statusOptions()"
            placeholder="Status"
            class="w-full"
            formControlName="status"
            [showClear]="true"
          />
          <p-button
            icon="pi pi-search"
            type="submit"
            severity="primary"
            [disabled]="!searchForm.valid"
            [rounded]="true"
          ></p-button>
        </div>
      </form>
    </div>
  } @else {
    <p-floatlabel variant="on">
      <input
        #searchInput
        pInputText
        autocomplete="off"
        pSize="small"
        (input)="getSearchCustomer(searchInput.value)"
        class="w-full md:w-32rem"
        styleClass="w-full"
      />
      <label>Search Customer</label>
    </p-floatlabel>
  }
  <p-button
    icon="pi pi-plus"
    severity="primary"
    (click)="addNewCustomer = true"
    [rounded]="true"
  ></p-button>
</div>
<div
  class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 pt-4"
>
  @for (customer of paginatedCustomers(); track $index) {
    <p-card class="relative cursor-pointer">
      <div
        class="flex items-start justify-start space-x-5"
        (click)="viewCustomer(customer._id)"
      >
        <div class="product-image">
          <img
            [src]="backendAppUrl + '/' + customer.productImage"
            [alt]="customer.productName"
            class="w-20 h-28 object-cover rounded"
          />
        </div>

        <div class="text-sm">
          <div class="flex justify-between gap-4">
            <p class="font-bold">{{ customer.name | titlecase }}</p>
            <p>🎧 {{ customer.mobile }}</p>
          </div>

          <p>Product: {{ customer.productName }}</p>
          <p>
            Follow-Up:
            {{ customer.nextFollowUpDate | date: "d MMM, y" }}
          </p>
          <p>Sales Staff: {{ customer.salesperson | titlecase }}</p>

          <p>
            Status:
            <span
              class="px-2 py-0.5 mx-2 rounded-2xl text-white text-xs"
              [ngClass]="{
                'bg-blue-500': customer.status === 'Open',
                'bg-yellow-500': customer.status === 'Cold',
                'bg-green-500': customer.status === 'Close',
                'bg-red-500': customer.status === 'Failed',
              }"
            >
              {{ customer.status }}
            </span>
          </p>
          <p class="text-[12px] text-zinc-400 dark:text-zinc-400 pt-1">
            Visited on: {{ customer.createdAt | date: "d,MMM,y" }}
          </p>
        </div>
      </div>

      @if (userRole == "superadmin") {
        <div class="absolute top-2 right-2 z-10 flex space-x-2">
          <p-button
            icon="pi pi-trash"
            [text]="true"
            severity="danger"
            (click)="deleteCustomer(customer._id)"
          ></p-button>
        </div>
      }
    </p-card>
  } @empty {
    <div
      class="rounded-xl shadow-md overflow-hidden p-4 relative cursor-pointer"
    >
      <p>
        No customers found for filter
        <b
          ><em>{{ searchForm.value.salesperson | titlecase }}</em></b
        >
      </p>
    </div>
  }
</div>
@if (paginatedCustomers().length > 1) {
  <div class="card flex justify-center py-6">
    <!-- Paginator component -->
    <p-paginator
      [rows]="rows()"
      [totalRecords]="totalRecords()"
      [first]="first()"
      [rowsPerPageOptions]="[10, 20, 50]"
      (onPageChange)="onPageChange($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} customers"
      class="text-xs"
    >
    </p-paginator>
  </div>
}

<!-- add new customer -->
<p-drawer
  header="Add New Customer"
  [(visible)]="addNewCustomer"
  position="bottom"
  [style]="{ height: '100%', width: '25%' }"
  styleClass="!w-full md:!w-80 lg:!w-[30rem]"
>
  <app-add-new
    (close)="addNewCustomer = false; getAllcustomers()"
  ></app-add-new>
</p-drawer>
<p-confirmdialog />
