<div class="flex justify-between items-center mb-4">
  <h1 class="text-lg font-semibold flex items-center gap-2">
    <p-avatar
      [label]="username.charAt(0)"
      shape="circle"
      class="bg-amber-50 border-1 text-white"
    ></p-avatar>
    {{ username }}
  </h1>
  <div>
    <p-datepicker
      [(ngModel)]="selectedMonth"
      view="month"
      dateFormat="mm/yy"
      (onSelect)="onMonthChange($event)"
      placeholder="Select Month"
      class="w-full"
      styleClass="max-sm:w-full"
      [showClear]="true"
    ></p-datepicker>
  </div>
</div>

@if(filteredFootEntries().length> 0) {
<p-card>
  <p-table
    [value]="filteredFootEntries()"
    [paginator]="true"
    [rows]="31"
    stripedRows=""
    size="small"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="timestamp">
          Date
          <p-sortIcon field="timestamp" />
        </th>
        <th pSortableColumn="footfall">
          Footfall
          <p-sortIcon field="footfall" />
        </th>
        <th pSortableColumn="conversion">
          Conversion
          <p-sortIcon field="conversion" />
        </th>
        <th>PC</th>
        <th>Conversion %</th>
        <th>Edit/Update</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr [ngClass]="{ 'highlight-row': highlightedRowId() === entry._id }">
        <td>{{ entry.timestamp | date : "d/MMM/y" }}</td>
        <td>{{ entry.footfall }}</td>
        <td>{{ entry.conversion }}</td>
        <td>{{ entry.pc != null ? entry.pc : "-" }}</td>
        <td>
          <p-tag
            [value]="
              entry.footfall
                ? ((entry.conversion / entry.footfall) * 100
                    | number : '1.0-2') + '%'
                : '0%'
            "
            [severity]="
              entry.footfall
                ? (entry.conversion / entry.footfall) * 100 < 40
                  ? 'danger'
                  : (entry.conversion / entry.footfall) * 100 < 60
                  ? 'warning'
                  : 'success'
                : 'danger'
            "
          ></p-tag>
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            severity="contrast"
            [text]="true"
            size="small"
            (onClick)="toggle($event, op)"
          >
          </p-button>
          <p-popover #op styleClass="md:w-1/4 w-full">
            <div class="container p-2">
              <div class="flex justify-between">
                <span class="font-semibold block mb-2">Update Entry</span>
                <span class="font-normal text-gray-400 block mb-2">{{
                  entry.timestamp | date : "d/MMM/y"
                }}</span>
              </div>
              <form
                action=""
                class="flex gap-5 justify-start flex-row flex-wrap mt-1"
                [formGroup]="update_footefall_entry"
                (ngSubmit)="onSubmit(entry._id)"
              >
                <!-- Footfall -->
                <p-floatlabel class="" variant="on">
                  <input pInputText formControlName="ff" />
                  <label>FF</label>
                </p-floatlabel>

                <!-- Conversion -->
                <p-floatlabel class="" variant="on">
                  <input pInputText formControlName="con" />
                  <label>CO</label>
                </p-floatlabel>

                <p-button
                  severity="contrast"
                  label="Update"
                  icon="pi pi-file"
                  type="submit"
                >
                </p-button>
              </form>
            </div>
          </p-popover>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
} @else {
<p-card>
  <div class="flex flex-col items-center justify-center py-5">
    <i class="pi pi-info-circle !text-4xl text-red-500 mb-4"></i>
    <p class="mb-2">There are no footfall entries for the selected month.</p>
    <p-button
      routerLink="/footfall/show-footfall"
      [text]="true"
      label="Go to Footfall"
      icon="pi pi-arrow-left"
    >
    </p-button>
  </div>
</p-card>
}
