@if(loginUser == 'admin') {
<div class="div mt-1 pt-1 w-1/2 max-sm:w-full">
  <h6 class="text-xs font-semibold">Filters</h6>
  <form action="" [formGroup]="searchForm" (ngSubmit)="searchCustomer()">
    <div class="card flex justify-center gap-3">
      <p-select
        [options]="salespersonOptions()"
        placeholder="Sales Person"
        class="w-full"
        formControlName="salesperson"
        [showClear]="true"
      />
      <p-select
        [options]="statusOptions()"
        placeholder="Status"
        class="w-full"
        formControlName="status"
        [showClear]="true"
      />
      <p-button
        icon="pi pi-search"
        type="submit"
        [rounded]="true"
        severity="secondary"
        [text]="true"
        [outlined]="true"
        [disabled]="!searchForm.valid"
      ></p-button>
    </div>
  </form>
</div>
}
<div
  class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 pt-4"
>
  @for (customer of paginatedCustomers(); track $index) {
  <p-card
    class="rounded-xl shadow-md overflow-hidden relative cursor-pointer bg-white dark:bg-gray-800"
  >
    <div
      class="flex items-start justify-start space-x-5"
      (click)="viewCustomer(customer._id)"
    >
      <div class="product-image">
        <img
          [src]="backedAppUrl + '/' + customer.productImage"
          [alt]="customer.productName"
          class="w-16 h-full object-cover rounded"
        />
      </div>

      <div class="text-sm">
        <div class="flex justify-between gap-4">
          <p class="font-bold">{{ customer.name | titlecase }}</p>
          <p>🎧 {{ customer.mobile }}</p>
        </div>

        <p>Product: {{ customer.productName }}</p>
        <p>
          Follow-Up:
          {{ customer.nextFollowUpDate | date : "d MMM, y" }}
        </p>
        <p>Sales Staff: {{ customer.salesperson | titlecase }}</p>

        <p>
          Status:
          <span
            class="px-2 py-0.5 mx-2 rounded-2xl text-white text-xs"
            [ngClass]="{
                            'bg-blue-500': customer.status === 'Open',
                            'bg-yellow-500': customer.status === 'Cold',
                            'bg-green-500': customer.status === 'Close',
                            'bg-red-500': customer.status === 'Failed',
                        }"
          >
            {{ customer.status }}
          </span>
        </p>
      </div>
    </div>

    @if (loginUser == 'admin') {
    <div class="absolute bottom-2 right-2 z-10 flex space-x-2">
      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        [text]="true"
        severity="danger"
        (click)="deleteCustomer(customer._id)"
      ></p-button>
    </div>
    }
  </p-card>

  } @empty {
  <div class="rounded-xl shadow-md overflow-hidden p-4 relative cursor-pointer">
    <p>
      No customers found for filter
      <b
        ><em>{{ searchForm.value.salesperson | titlecase }}</em></b
      >
    </p>
  </div>
  } @if(paginatedCustomers().length > 0) {
  <div class="card flex justify-center">
    <!-- Paginator component -->
    <p-paginator
      [rows]="rows()"
      [totalRecords]="totalRecords()"
      [first]="first()"
      [rowsPerPageOptions]="[10, 20, 50]"
      (onPageChange)="onPageChange($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} customers"
      class="text-xs"
    >
    </p-paginator>
  </div>
  }
</div>
<p-confirmdialog />
