<p-card class="">
  <div class="flex justify-between">
    <div class="flex flex-col gap-1">
      <h6 class="text-md font-semibold">
        {{ customerData?.customerId?.name | titlecase }}
      </h6>

      <!-- next followUp date -->
      <div>
        <div
          class="gap-1 flex items-center cursor-pointer pb-1"
          (click)="updateFollowupDate.toggle($event)"
        >
          <span class="text-xs font-normal"
            ><i class="pi pi-calendar"></i
          ></span>
          <span
            >{{ customerContactInfo?.nextFollowUpDate | date: "d,MMM,y" }}
          </span>
        </div>

        <p-popover #updateFollowupDate>
          <div class="header">
            <span class="text-sm font-semibold opacity-60">Update Date</span>
            <p-floatlabel variant="on" class="mt-2">
              <p-datepicker
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                [(ngModel)]="followUpDate"
                (ngModelChange)="updateFollowUpDate($event)"
                class="w-full mt-2 pt-2"
              />
              <label for="icondisplay" class="font-normal"
                >Next Followup Date</label
              >
            </p-floatlabel>
          </div>
        </p-popover>

        <!-- product info-price -->
        <div class="gap-1 flex items-center pb-1">
          <span class="text-xs font-normal"
            ><i class="pi pi-indian-rupee"></i
          ></span>
          <small>{{ customerContactInfo?.price }} </small>
        </div>

        <!-- product info-seriousness -->
        <div class="gap-1 flex items-center pb-1">
          <span class="text-xs font-normal"
            ><i class="pi pi-face-smile"></i
          ></span>
          <small>{{ customerContactInfo?.seriousness }} </small>
        </div>
        <div class="gap-1 flex items-center pb-1">
          <span class="text-xs font-normal text-zinc-500"
            ><i class="pi pi-shop"></i
          ></span>
          <small class="text-zinc-500"
            >{{ customerContactInfo?.createdAt | date: "d,MMM,y" }}
          </small>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center gap-2">
      <div class="flex justify-between items-center gap-2">
        <!-- make a phone call -->
        <div class="flex gap-2">
          <a [href]="'tel:' + customerData?.customerId?.mobile">
            <p-button
              class="text-xs font-normal"
              icon="pi pi-phone"
              pTooltip="{{ customerData?.customerId?.mobile }}"
              tooltipPosition="left"
              [outlined]="true"
              severity="contrast"
              [rounded]="true"
            />
          </a>
        </div>

        <!-- product image -->
        <p-avatar
          [image]="backedAppUrl + `/${customerContactInfo?.productImage}`"
          [shape]="'circle'"
          class="mr-1"
          (click)="viewLargeProductImage()"
          class="cursor-pointer"
        ></p-avatar>
      </div>

      <!-- manage customer status  -->
      <div
        class="flex items-center cursor-pointer"
        (click)="isOpen = !isOpen; status.toggle($event)"
      >
        <div
          class="px-2 py-1 rounded-2xl text-white text-xs flex justify-center gap-1"
          [ngClass]="{
            'bg-blue-500': customerContactInfo?.status === 'Open',
            'bg-yellow-500': customerContactInfo?.status === 'Cold',
            'bg-green-500': customerContactInfo?.status === 'Close',
            'bg-red-500': customerContactInfo?.status === 'Failed',
            'bg-purple-500': customerContactInfo?.status === 'Swarnteras',
          }"
        >
          {{ customerContactInfo?.status }}

          <span class="text-white-300">
            <i
              class="pi"
              [ngClass]="isOpen ? 'pi-angle-up' : 'pi-angle-down'"
            ></i
          ></span>
        </div>

        <p-popover #status>
          <div class="header">
            <span class="text-sm font-semibold opacity-60">Update Status</span>
          </div>

          <div class="flex gap-2">
            <p-button
              icon="pi pi-circle-on"
              [text]="true"
              severity="info"
              (click)="updateStatus('Open')"
              class="w-full"
              pTooltip="Open"
              tooltipPosition="bottom"
              [rounded]="true"
            >
            </p-button>
            <p-button
              icon="pi pi-circle-on"
              [text]="true"
              severity="warn"
              (click)="updateStatus('Cold')"
              class="w-full"
              pTooltip="Cold"
              tooltipPosition="bottom"
              [rounded]="true"
            >
            </p-button>
            <p-button
              icon="pi pi-circle-on"
              [text]="true"
              severity="success"
              (click)="updateStatus('Close')"
              class="w-full"
              pTooltip="Close"
              tooltipPosition="bottom"
              [rounded]="true"
            >
            </p-button>
            <p-button
              icon="pi pi-circle-on"
              [text]="true"
              severity="danger"
              (click)="updateStatus('Failed')"
              class="w-full"
              pTooltip="Failed"
              tooltipPosition="bottom"
              [rounded]="true"
            >
            </p-button>
            <p-button
              icon="pi pi-circle-on"
              [text]="true"
              severity="help"
              (click)="updateStatus('Swarnteras')"
              class="w-full"
              pTooltip="Swarnteras"
              tooltipPosition="bottom"
              [rounded]="true"
            >
            </p-button>
          </div>
        </p-popover>
      </div>

      <!-- product info-seriousness -->
      <div class="gap-1 flex items-center pb-1">
        <span class="text-xs font-normal"><i class="pi pi-gift"></i></span>
        <small>{{ customerContactInfo?.productName | uppercase }} </small>
      </div>
    </div>
  </div>
</p-card>

<div class="mb-[5rem] mt-2 h-screen">
  <!-- Customer Chat History Card -->
  <p-card>
    @for (chat of customerData?.messages; track chat._id) {
      <div
        class="bg-gray-200 text-emerald-50 dark:bg-gray-950 px-3 py-3 mb-2 rounded-xl shadow-sm dark:border-none"
      >
        <div class="flex gap-1 items-center justify-between">
          <span class="text-sm font-normal text-gray-800 dark:text-gray-100">
            {{ chat.message | titlecase }}
          </span>
          <p-button
            icon="pi pi-ellipsis-v"
            [text]="true"
            severity="contrast"
            class="pr-0 mr-0"
            (click)="popover.toggle($event)"
            [rounded]="true"
          ></p-button>
        </div>
        <!-- update customer status -->
        <p-popover #popover>
          <div class="flex flex-col gap-4">
            <p-button
              icon="pi pi-pencil"
              [text]="true"
              severity="contrast"
              class="w-full"
              (click)="showDialog(chat._id)"
              [rounded]="true"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              [text]="true"
              class="w-full"
              severity="danger"
              (click)="deleteChat(chat._id)"
              [rounded]="true"
            ></p-button>
          </div>
        </p-popover>

        <div class="flex items-start gap-2 mt-1">
          <span class="text-[0.7rem] text-gray-500 dark:text-gray-400">{{
            chat.timestamp | date: "d MMM, y"
          }}</span>
          <span class="text-[0.7rem] text-gray-500 dark:text-gray-400"
            ><em>{{ chat.edited ? "Edited" : "" }}</em></span
          >
        </div>
      </div>
    } @empty {
      <div class="mb-2 p-2 rounded-xl border-radius-lg">No messages found.</div>
    }
  </p-card>

  <!-- Edit Customer chat -->
  <p-drawer
    header="Edit Chat"
    [modal]="true"
    [(visible)]="visible"
    class="w-full"
    height="h-60"
    styleClass="w-full md:w-1/2 lg:w-1/3"
  >
    <form
      [formGroup]="editChatForm"
      (ngSubmit)="submitEditChat()"
      class="flex gap-2"
    >
      <p-floatlabel variant="on" class="w-full">
        <input
          pInputText
          id="on_label"
          autocomplete="off"
          class="w-full"
          formControlName="message"
        />
        <label for="on_label" class="font-normal">Update your message</label>
        @if (
          editChatForm.controls["message"].hasError("required") &&
          editChatForm.controls["message"].touched
        ) {
          <small class="text-red-400 pl-1 block absolute"
            >Message is required.</small
          >
        }
      </p-floatlabel>
      <p-button type="submit" icon="pi pi-send" rounded="true"></p-button>
    </form>
  </p-drawer>

  <p-dialog
    header="{{ customerContactInfo?.productName }}"
    [modal]="true"
    [(visible)]="visibleProductImage"
    class="w-full"
    height="auto"
    styleClass="w-full md:w-1/2 lg:w-1/3 "
  >
    <img
      src="{{ backedAppUrl }}/{{ customerContactInfo?.productImage }}"
      alt="{{ customerContactInfo?.productName | titlecase }}"
      class="w-full h-full object-cover rounded mb-4"
    />

    <p-fileupload
      name="file"
      mode="basic"
      [auto]="true"
      accept="image/*"
      maxFileSize="10000000"
      [customUpload]="true"
      (onSelect)="onBasicUploadAuto($event)"
      [chooseLabel]="uploadButtonlabel()"
      chooseIcon="pi pi-upload"
      class="w-full"
      inputSyleClass="w-full"
      styleClass="w-full"
    />
  </p-dialog>
</div>

<!-- New Message Input Form -->

<div
  class="fixed md:bottom-5 bottom-24 flex justify-center items-center w-full max-w-[79.5%] max-sm:max-w-[90%] z-10"
>
  <form
    [formGroup]="chatForm"
    (ngSubmit)="submitChat()"
    class="flex min-w-lg max-sm:min-w-full"
  >
    <input
      pInputText
      id="on_label"
      autocomplete="off"
      class="w-full md:w-[68%]"
      styleClass="w-full "
      formControlName="message"
      placeholder="Enter your message"
      pSize="large"
    />
    <p-button
      styleClass="w-[15rem] ml-2"
      type="submit"
      icon="pi pi-send"
      rounded="true"
      pTooltip="Send"
      tooltipPosition="top"
      severity="contrast"
      size="large"
    >
    </p-button>
  </form>
</div>

<p-confirmdialog />
